<div class="container">
  <div class="row">
    <div class="col">
      <p>Generuj kod QR dla:</p>
      <div class="navi">
        <button (click)="selectedCodeType = CodeTypeEnumModel.COLLECT">Odbierz</button>
        <button (click)="selectedCodeType = CodeTypeEnumModel.RETURN">Zwrot</button>
      </div>
      <ng-container [ngSwitch]="selectedCodeType">
        <ng-container *ngSwitchCase="CodeTypeEnumModel.COLLECT">
          <app-collection></app-collection>
        </ng-container>
        <ng-container *ngSwitchCase="CodeTypeEnumModel.RETURN">
          <app-return></app-return>
        </ng-container>
      </ng-container>
    </div>
    <div class="col">
      <img src="" />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ng-container [ngSwitch]="selectedCodeType">
        <ng-container *ngSwitchCase="CodeTypeEnumModel.COLLECT">
          <app-how-collect></app-how-collect>
        </ng-container>
        <ng-container *ngSwitchCase="CodeTypeEnumModel.RETURN">
          <app-how-return></app-how-return>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
